<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
           http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <!-- JAX-RS -->
    <jaxrs:server id="CopyrightCheckerApiRS" address="/rest">
        <jaxrs:serviceBeans>
            <ref bean="org.sakaiproject.s2u.copyright.ws.CopyrightCheckerApi"/>
        </jaxrs:serviceBeans>
    </jaxrs:server>

    <jaxws:endpoint id="CopyrightCheckerApi"
                    implementor="#org.sakaiproject.s2u.copyright.ws.CopyrightCheckerApi"
                    address="/soap"/>

    <bean id="org.sakaiproject.s2u.copyright.ws.CopyrightCheckerApi" class="org.sakaiproject.s2u.copyright.ws.CopyrightCheckerApi" init-method="init">
        <property name="copyrightCheckerService" ref="org.sakaiproject.s2u.copyright.logic.CopyrightCheckerService"/>
        <property name="sakaiProxy" ref="org.sakaiproject.s2u.copyright.logic.SakaiProxy"/>
    </bean>
</beans>
