<!DOCTYPE html>
<html>
    <body>
        <wicket:panel xmlns:wicket="http://wicket.apache.org">
            <button type="submit" class="btn btn-primary" wicket:message="title:buttons.filter.do.title">
                <wicket:message key="buttons.filter.do">
                    [MANAGE]
                </wicket:message>
            </button>
            <button wicket:id="cleanFilterBtn" class="btn btn-primary" wicket:message="title:buttons.filter.clean.title">
                <wicket:message key="buttons.filter.clean">
                    [HELP]
                </wicket:message>
            </button>
        </wicket:panel>
    </body>
</html>
