<!DOCTYPE html>
<html>
    <body>
        <wicket:panel xmlns:wicket="http://wicket.apache.org">
            <a wicket:id="first" class="btn btn-default"><span class="fa fa-angle-double-left"></span></a>
            <a wicket:id="prev" class="btn btn-default"><span class="fa fa-angle-left"></span></a>
            <span wicket:id="navigation">
                <a wicket:id="pageLink" class="btn btn-default"><span wicket:id="pageNumber">5</span></a>
            </span>
            <a wicket:id="next" class="btn btn-default"><span class="fa fa-angle-right"></span></a>
            <a wicket:id="last" class="btn btn-default"><span class="fa fa-angle-double-right"></span></a>
        </wicket:panel>
    </body>
</html>
